<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_register.css') }}">
</head>

<body>
    <div class="auth-container">

        <!-- Register Form -->
        <div class="auth-form" id="register-form">
            <h2>Register</h2>
            <form action="{{ url_for('register') }}" method="post">
                <input type="text" placeholder="Username" name="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="password" placeholder="Confirm Password" name="confirm_password" required>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <!-- Flash Messages -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
            {% for category, message in messages %}
              <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>

</html>
